            * {
                margin: 0;
                padding: 0;
            }
            
            body {
                background: #a8e6cf;
            }
            /*-----------------------------------------------Header*/
            
            .heading {
                text-transform: uppercase;
                color: #ff8b94;
            }
            /*-----------------------------------------------Navbar*/
            
            .bg-bar {
                width: 100px;
                height: 100%;
                position: fixed;
                background-color: #0b0c10;
                margin-right: 30px;
                padding: 0;
            }
            
            .sidebar {
                margin: 40px 0 40px 0;
                padding: 40px 0 40px 0;
            }
            
            .sidebar a {
                display: block;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                margin: 20px 0 20px 0;
                padding: 20px 0 20px 0;
            }
            
            .sidebar i {
                display: block;
                font-size: 30px;
            }
            
            .sidebar span {
                display: block;
                font-size: 13px;
                font-weight: 500;
                margin: 5px 0 5px 0;
                padding: 5px 0 5px 0;
            }
            /*-----------------------------------------------feetbar*/
            
            footer {
                margin: 0;
                padding: 0;
            }
            
            .feet-bar {
                margin: 10px;
                padding: 0px;
            }
            
            .feet-bar a {
                display: inline;
                text-decoration: none;
                margin: 10px;
                padding: 0px;
            }
            
            .feet-bar i {
                font-size: 20px;
                margin: 0;
                padding: 10px;
                border-radius: 50%;
                background: black;
            }
            /*-----------------------------------------------Colors*/
            
            .subhead,
            .skill-head,
            .contact-head {
                color: #d11141;
            }
            
            .details h4,
            .timeline h4,
            .contact-head h4 {
                color: #d899a5;
            }
            /*-----------------------------------------------sections*/
            
            .sub1 {
                margin-top: 80px;
                padding: 0;
            }
            
            .subhead {
                margin: 0px;
                padding: 0px;
            }
            
            .details {
                margin-top: 50px;
                padding: 0;
            }
            
            .personal-info {
                margin-left: 20px;
                padding-left: 10px;
            }
            
            img {
                width: 80%;
                margin-top: 60px;
                padding: 0;
                border: 2px solid #0b0c10;
                border-radius: 10px;
            }
            /*-----------------------------------------------contacts*/
            
            .contact-head {
                margin: 40px;
                padding: 40px;
            }
            
            .contact-form {
                margin: 40px;
                padding: 0px;
            }
            
            .form-group {
                margin: 40px;
                padding: 0px;
            }
            /*-----------------------------------------------resume*/
            
            .resume-sub {
                margin: 0;
                padding: 0;
            }
            
            .skill-head {
                margin: 60px 0 60px 0;
                padding: 0px;
            }
            
            .sub-skill {
                margin-left: 40px;
                padding-left: 10px;
            }
            /*-------------------------------------------------progressbar*/
            
            .progress {
                width: 100%;
                height: 40px;
                margin: 20px 10px 20px 10px;
                padding: 0;
                border-radius: 15px;
                background-color: #c5c6c7;
            }
            
            .progress-bar {
                height: 40px;
                width: 100%;
                border-radius: 15px;
                background-color: #45a29e;
            }
            
            .progress-bar span {
                color: #c5c6c7;
                font-size: 13px;
                font-weight: 600;
            }
            /*------------------------------------------------------timeline*/
            
            .timeline {
                padding: 20px;
                position: relative;
                color: #c5c6c7;
                border-left: 2px solid;
            }
            
            .timeline h5 {
                color: #45a29e;
            }
            
            .timeline p {
                padding: 0;
                margin: 0;
            }
            
            .timeline:after {
                width: 12px;
                height: 12px;
                display: block;
                top: 1.6em;
                position: absolute;
                left: -6.5px;
                border-radius: 50%;
                content: '';
                background: #c5c6c7;
            }
            /*------------------------------------------------------media queries*/
            
            @media(max-width:)